<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">

<head>
    <meta charset="UTF-8">
    <title th:fragment="title">Error</title>
</head>
<body>
    <div th:fragment="content" class="container">
        <link type="text/css" rel="stylesheet" th:href="@{/css/error.css}"  />

        <div id="notfound">
            <div class="notfound-bg"></div>
            <div class="notfound">
                <div class="notfound-404">
                    <h1>404</h1>
                </div>
                <h2>we are sorry, but the page you requested was not found</h2>
                <a th:href="@{/}" class="home-btn">Go Home</a>
                <a href="#" class="contact-btn">Contact us</a>

            </div>
        </div>

    </div>
</body>
<div th:insert="~{footer :: copy}"></div>
</html>