<html lang="fr" th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Security-Policy">

        <title th:fragment="title">Authentification</title>
    </head>
    <body>
        <div th:fragment="content">
            <section class="get-in-touch">
            <link type="text/css" rel="stylesheet" th:href="@{/css/form.css}"  />

                <div th:if="${param.error}" class="alert alert-error">
                    L'identifiant et le mot de passe sont invalides
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    Vous avez été déconnecté
                </div>
            <h1 class="title" >Authentification</h1>
            <form name="f" th:action="@{/login}" method="post" class="contact-form row">
                    <div class="form-field col-lg-6">
                        <input type="text" id="username" name="username" autocomplete="off" class="input-text js-input"/>
                        <label for="username" class="label">Identifiant</label>
                    </div>

                    <div class="form-field col-lg-6">
                        <input type="password" id="password" name="password" autocomplete="off" class="input-text js-input"/>
                        <label for="password" class="label">Mot de passe</label>
                    </div>
                    <div class="form-actions form-field col-lg-12">
                        <button type="submit" class="submit-btn">Connexion</button>
                    </div>
                    <div class="form-actions form-field col-lg-12">
                        <a class="submit-btn" th:href="@{/user/register}">S'inscrire ?</a>
                    </div>

            </form>

            </section>
        </div>
    </body>
</html>