<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
	<head>
	
		<title th:fragment="title">ChessGammeVS</title>
		
	</head>
	<body>
		<div th:fragment="content">
			
			<img
			th:src="@{'/images/plateau712x712.jpg'}" style = "position: fixed;z-index: -1;" />
			
				<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'0'"
				th:src="@{'/images/vide.png'}" />
				<div></div>
				<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'1'"
				th:src="@{'/images/vide.png'}" />
			<div></div>
			<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'2'"
				th:src="@{'/images/vide.png'}" />
				<div></div>
				<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'3'"
				th:src="@{'/images/vide.png'}" />
			<div></div>
			<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'4'"
				th:src="@{'/images/vide.png'}" />
				<div></div>
				<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'5'"
				th:src="@{'/images/vide.png'}" />
			<div></div>
			<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'6'"
				th:src="@{'/images/vide.png'}" />
				<div></div>
				<img th:each="i : ${#numbers.sequence( 0, 7)}" style = "" th:class="piece" th:id="${i}+'7'"
				th:src="@{'/images/vide.png'}" />
			<div></div>
			<div>
				<div class="card" th:id="j1" style="width: 18rem;">
  							<img class="card-img-top" src="..." alt="Card image cap">
 							 <div class="card-body">
   						 <p class="card-text" th:text="${moi}">joueur moi</p>
			  </div>
			</div>
			<div class="card" th:id="j2" style="width: 18rem;">
  							<img class="card-img-top" src="..." alt="Card image cap">
 							 <div class="card-body">
   						 <p class="card-text"  th:text="${adverse}">joueur adverse</p>
			  </div>
			</div>
			</div>
			<div class="buttonBar" style="margin-top: 30%;position: absolute;">
				<button th:id="finDeTour" type="button" class="btn btn-outline-secondary">Fin de tour</button>
				<button th:id="etat" type="button" class="btn btn-outline-secondary">etat</button>
				<button th:id="undo" type="button" class="fas fa-undo btn btn-danger"></button>
			</div>
			
			<script th:src="@{/js/partie.js}"></script>
		</div>
		
	</body>
</html>
