<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title}, ~{::content})}">

<head>
<meta charset="UTF-8">
<title th:fragment="title">Profil</title>
</head>
<body>
	<div th:fragment="content" class="container">
		<script type="application/javascript" th:src="@{/js/ajaxRequestJoueur.js}"></script>

		<div class="jumbotron">
			<div class="row">
				<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
					<img alt="stack photo"
						th:src="@{'/user/avatar?filename='+${joueur.getUsername()}}"
						class="profil img">
				</div>
				<div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
					<div class="container" style="border-bottom: 1px solid black">
						<h2 th:text="${joueur.getUsername()}">John Doe</h2>
						<p>
							<a th:href="@{/user/edit}"><i class="fas fa-user-edit"></i></a>
							<a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a>
						</p>
					</div>
					<hr>
					<ul class="container details">
						<th:block th:each="partie : ${joueur.getPartie()}"
							th:object="${partie}">
							<li>

								<p>
									<span th:if="${partie.duree == 10000000}"
										th:text="${partie.joueurNoir + ': Perdu'}"> </span> <span
										th:if="${partie.duree != 10000000}"
										th:text="${partie.joueurNoir.getUsername() }"> </span>
								</p>
							</li>
						</th:block>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h4>Parties</h4>
					
					<div id="accordion">

						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0" style="text-align: initial;">
									<button class="btn collapsed" data-toggle="collapse"
										data-target="#collapseP" aria-expanded="false"
										aria-controls="collapseP">
										Liste d'invitation à de nouvelle parties <span class="badge">1</span> <i
											class="fa fa-caret-down" aria-hidden="true"></i>
									</button>
								</h5>
							</div>
							<div id="collapseP" class="collapse"
								aria-labelledby="headingTwo" data-parent="#accordion">
								<ul class="list-group" th:id="tableInvitationPartie">
								
								</ul>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0" style="text-align: initial;">
									<button class="btn " data-toggle="collapse"
										data-target="#collapseC" aria-expanded="true"
										aria-controls="collapseC">
										Partie en cours <i class="fa fa-caret-down" aria-hidden="true"></i>
									</button>
								</h5>
							</div>

							<div id="collapseC" class="collapse show"
								aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<ul class="list-group">
										<th:block th:each="partie : ${joueur.getPartie()}"
							th:object="${partie}">
							<li class="list-group-item" th:if="${partie.isEtat()}">
							<i  th:text="${partie.getJoueur().get(0).getUsername()} + ' versus ' + ${partie.getJoueur().get(1).getUsername()}"></i>
							<a th:href="@{'/partie/'+${partie.getId()}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
						</th:block>
									</ul>
								</div>
							</div>
						</div>

					</div>
					

				</div>
				<div class="col">

					<h4 style="text-align: initial;">Liste d'amis : </h4>

					<div class="form-group row">
						<div class="col-10">

							<input type="text" class="form-control" id="usr"
								placeholder="Ajouter un ami" list="result">

							<datalist id="result">
							</datalist>
						</div>
						<button type="button" class="btn btn-secondary col-2"
							data-toggle="tooltip" data-placement="top"
							title="Envoyer une invitation">
							<span class="fa fa-envelope-open" aria-hidden="true"></span>
						</button>

					</div>
					<div id="accordion">

						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0" style="text-align: initial;">
									<button class="btn collapsed" data-toggle="collapse"
										data-target="#collapseTwo" aria-expanded="false"
										aria-controls="collapseTwo">
										Liste d'invitation<span class="badge">1</span> <i
											class="fa fa-caret-down" aria-hidden="true"></i>
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse"
								aria-labelledby="headingTwo" data-parent="#accordion">
								<ul class="list-group" id="inviteAmi">
								</ul>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0" style="text-align: initial;">
									<button class="btn " data-toggle="collapse"
										data-target="#collapseOne" aria-expanded="true"
										aria-controls="collapseOne">
										Liste d'amis<i class="fa fa-caret-down" aria-hidden="true"></i>
									</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse show"
								aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<ul class="list-group" th:id="Ami">
										
									</ul>
								</div>
							</div>
						</div>

					</div>


				</div>
			</div>
		</div>
		<script th:src="@{/js/profil.js}"></script>
</body>
<div th:insert="~{footer :: copy}"></div>
</html>
