body {
    padding-top: 5rem;
    font-family: 'Montserrat', sans-serif;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
*, ::after, ::before {
    box-sizing: border-box;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.minesweeper{

    border: none;

}

.customTable{
    border-spacing: 0;
    border-collapse : collapse;
    margin-left:auto;
    margin-right:auto;
}
* {
    border-radius: 0 !important;
}
.logo{
    width: 200px;
    height: 60px;
}
.profil{
    width: 250px;
    height: 250px;
}
.modal.custom .modal-dialog {
    width:20%;
    position:fixed;
    bottom:0;
    right:0;
    margin:0;
}
.Barprog{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


.custom-navbar{box-shadow: 10px 10px 10px #eee; z-index:;background-color: #fff;}
.nav-link{color: #1E90FF!important;}
.custom-toggler.navbar-toggler {border-color: rgb(247,32,78);}
.custom-toggler .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler:hover{border-color: rgb(255,255,255); background-color: #f76a88;}
.navbar-toggler-icon:hover{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}#logo_custom{margin-top: -6px;}
@media only screen and (max-width: 760px) { #logo_custom{width: 40%;}}
